*{
    margin: 0px;
    padding: 0px;
}

.main{
    width: 500px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
.header{
    height: 50px ;
    background-color: rgb(52, 151, 182);
}
.mid1{
    height: 50px;
    background-color: rgb(112, 172, 112);
}
.mid2{
    height: 200px;
    display: flex;
    gap: 3px;
}

.left{
    width: 20%;
    background-color: rgb(152, 204, 152);

}
.right{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.content{
    height: 50%;
    background-color: rgb(76, 179, 226);
}

.section{
    height: 50%;
    background-color: rgb(11, 82, 116);
}
.footer{
    height: 50px ;
    background-color: rgb(104, 155, 170);
}